@import url(web-awesome.css);

/* project settings */
:root {
  --icon-details-preview-font-size: 12rem; /* 192px */
  --icon-details-preview-line-height: 1;
  --icon-details-unicode-glyphs-label-min-width: var(--spacing-5xl);
  --icon-listing-roomy-font-size: var(--font-size-2xl); /* 32px */
  --icon-listing-roomy-gap-x: var(--spacing-xl); /* 36px */
  --icon-listing-roomy-gap-y: var(--spacing-md); /* 16px */
  --icon-listing-roomy-size: calc(var(--spacing-base) * 8); /* 128px */
}

:root {
  display: block;
  width: 90vw;
  margin: 0 auto;
  padding: var(--spacing-sm);
}

.wrap-search {
  --input-with-icon-color:var(--fa-navy);
  --input-border-color:var(--fa-navy);
  --input-placeholder-color:var(--fa-md-gravy);
}

.icons-style-menu-listing .input-checkbox-custom {
  display: none;
}

.icons-style-menu-listing .icons-style-choice {
  display: flex;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: var(--border-radius-md);
  color: var(--fa-dk-blue);
}

.icons-style-menu-listing .input-checkbox-custom:checked ~ .icons-style-choice {
  color: var(--fa-navy);
  font-weight: var(--font-weight-bold) !important;
}

.icon-listing {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(var(--icon-listing-roomy-size), 1fr));
  grid-gap: var(--icon-listing-roomy-gap-y) var(--icon-listing-roomy-gap-x);
  justify-content: center;
  justify-items: center;
}

.wrap-icon {
  position: relative;
  width: var(--icon-listing-roomy-size);
}

button.icon {
  --button-padding: var(--spacing-xl) var(--spacing-lg);
  --button-font-weight: var(--font-weight-normal);
  --button-background: var(--white);
  --button-hover-background: var(--fa-yellow);
  --button-color: var(--fa-md-gravy);
  --button-hover-color: var(--fa-navy);
  --button-margin-bottom: 0;

  width: 100%;
  height: 100%;
}

button.icon i {
  color: var(--fa-navy);
}

.icon-listing .icon .icon-name {
  width: 100%; /* to support text truncate */
}

.message {
  color: var(--fa-navy);
}

.message-title+p {
  --paragraph-margin-bottom: var(--spacing-md);
  --paragraph-margin-top: var(--spacing-2xl);
}


/* custom > 480px */
@media (max-width: 30rem) {
  .icons-style-menu-listing {
    flex-wrap: wrap;
  }
}
