/* TODO: do we want to hard code these rules here?  */
svg {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.fa-secondary {
  opacity:.4
}
