name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '14'
    - name: Prepare Main
      env:
        NPM_TOKEN: ${{ secrets.CLOUDSMITH_TOKEN }}
      run: |
        cd packages/fa-icon-chooser
        npm install
        npm run format.check
        npm run build
        npm run test
    - name: Publish Main - npmjs
      env:
        NPM_TOKEN: ${{ secrets.NPM_REGISTRY_ACCESS_TOKEN }}
      run: |
        cd packages/fa-icon-chooser
        npm publish --access public
    - name: Prepare React
      env:
        NPM_TOKEN: ${{ secrets.CLOUDSMITH_TOKEN }}
      run: |
        cd packages/fa-icon-chooser-react
        npm install
        npm run build
    - name: Publish React - npmjs
      env:
        NPM_TOKEN: ${{ secrets.NPM_REGISTRY_ACCESS_TOKEN }}
      run: |
        cd packages/fa-icon-chooser-react
        npm publish --access public
    - name: Publish Main - Cloudsmith
      env:
        NPM_TOKEN: ${{ secrets.CLOUDSMITH_TOKEN }}
      run: |
        cd packages/fa-icon-chooser
        npm publish --registry https://npm.fontawesome.com
    - name: Publish React - Cloudsmith
      env:
        NPM_TOKEN: ${{ secrets.CLOUDSMITH_TOKEN }}
      run: |
        cd packages/fa-icon-chooser-react
        npm publish --registry https://npm.fontawesome.com
